<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>MVVM</title>
    </head>

    <body>

        <div id="mvvm-app">
            <input type="text" v-model="someStr">
            <input type="text" v-model="child.someStr">
            <p>{{ getHelloWord }}</p>
            <p v-html="htmlStr"></p>
            <button v-on:click="clickBtn1">change model</button>
            <button v-on:click="clickBtn2">change html</button>
        </div>

        <script src="./observer.js"></script>
        <script src="./watcher.js"></script>
        <script src="./compile.js"></script>
        <script src="./mvvm.js"></script>
        <script>
            var vm = new MVVM({
                el: '#mvvm-app',
                data: {
                    someStr: 'hello ',
                    className: 'btn',
                    htmlStr: '<span style="color: #f00;">red</span>',
                    child: {
                        someStr: 'World !'
                    }
                },

                computed: {
                    getHelloWord: function() {
                        return this.someStr + this.child.someStr;
                    }
                },

                methods: {
                    clickBtn1: function(e) {
                        var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                        this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
                    },
                    clickBtn2: function(e) {
                        var randomColor = ['blue', 'green', 'yellow'];
                        let color = randomColor[parseInt(Math.random() * 3)];
                        this.htmlStr = '<span style="color:' + color + ';">color</span>'
                    }
                }
            });

            vm.$watch('child.someStr', function() {
                console.log(arguments, 88);
            });
        </script>

    </body>

</html>